/* Welcome page
 - - - - - - - - - - - - - - - - - - - - - - - - -*/

  
.home-page {

  .background-header {
      display: none;
  }

  .jumbo {

    @media only screen and (max-width: 640px) {
      background: #ffffff image-url("welcome/background_header_small.jpg");
      background-position: bottom;
      background-size: 100% auto;
      background-repeat: no-repeat;
      padding-bottom: rem-calc(220);


      span {
        display: none;
      }

      .lead {
        color: $brand;
        font-size: rem-calc(30);
        font-weight: 700;
        line-height: rem-calc(30);
      }

      .button {
        background: $brand;
        color: #fff;
        max-width: 100%;
      }
    }

    @media only screen and (min-width: 640px) and (max-width: 768px) {
      padding-top: 30px;
      background: image-url("welcome/background_header_small.jpg");
      background-size: 100% auto;;
      background-repeat: no-repeat;
      padding-bottom: rem-calc(100);

      span {
        display: none;
      }

      .lead {
        color: $brand;
        font-size: rem-calc(30);
        font-weight: 700;
        line-height: rem-calc(30);
      }

      .button {
        background: $brand;
        color: #fff;
        max-width: 100%;
      }
    }

    @media only screen and (min-width: 768px) and (max-width: 1080px) {
      padding-top: 70px;
      background: image-url("welcome/background_header_small.jpg");
      background-size: 100% auto;;
      background-repeat: no-repeat;
      padding-bottom: rem-calc(110);

      .lead {
        color: $brand;
        font-size: rem-calc(30);
        font-weight: 700;
        line-height: rem-calc(30);
      }

      .button {
        background: $brand;
        color: #fff;
        max-width: 100%;
      }
    }

    @media only screen and (min-width: 1080px) and (max-width: 1440px) {
      padding-top: 50px;
      background: image-url("welcome/background_header_small.jpg");
      background-size: 100% auto;;
      background-repeat: no-repeat;
      padding-bottom: rem-calc(200);

      .lead {
        color: $brand;
        font-size: rem-calc(30);
        font-weight: 700;
        line-height: rem-calc(30);
        max-width: 80%;
      }

      .button {
        background: $brand;
        color: #fff;
        max-width: 100%;
      }
    }

    @media only screen and (min-width: 1440px) and (max-width: 1554px) {
      padding-top: 160px;
      background: image-url("welcome/background_header_small.jpg");
      background-size: 100% auto;;
      background-repeat: no-repeat;
      padding-bottom: rem-calc(160);

      .lead {
        color: $brand;
        font-size: rem-calc(30);
        font-weight: 700;
        line-height: rem-calc(30);
      }

      .button {
        background: $brand;
        color: #fff;
        max-width: 100%;
      }
    }

    @media only screen and (min-width: 1554px) and (max-width: 1900px) {
      padding-top: 190px;
      background: image-url("welcome/background_header_small.jpg");
      background-size: 100% auto;;
      background-repeat: no-repeat;
      padding-bottom: rem-calc(260);

      .lead {
        color: $brand;
        font-size: rem-calc(30);
        font-weight: 700;
        line-height: rem-calc(30);
      }

      .button {
        background: $brand;
        color: #fff;
        max-width: 100%;
      }
    }

    @media only screen and (min-width: 1900px) {
      padding-top: 250px;
      background: image-url("welcome/background_header_small.jpg");
      background-size: 100% auto;;
      background-repeat: no-repeat;
      padding-bottom: rem-calc(380);

      .lead {
        color: $brand;
        font-size: rem-calc(30);
        font-weight: 700;
        line-height: rem-calc(30);
      }

      .button {
        background: $brand;
        color: #fff;
        max-width: 100%;
      }
    }
  }
}
