/* Welcome page
 - - - - - - - - - - - - - - - - - - - - - - - - -*/

  
.home-page {

.background-header {
    display: none;
}

.jumbo {
    background: #ffffff image-url("welcome/background_header_small.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom: rem-calc(300);

    @include breakpoint(medium) {
    background: image-url("welcome/background_header_small.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    }

    .lead {
    color: $text;
    font-size: rem-calc(30);
    font-weight: 700;
    line-height: rem-calc(30);

    @include breakpoint(medium) {
        font-size: rem-calc(60);
        line-height: rem-calc(60);
    }
    }

    .button {
    background: #000;
    color: #fff;
    }
}
}